*{
    padding: 0px;
    margin: 0px;
   
}
.h1{ background-image: url("imagenes/Audi-LED.jpeg");
color: rgb(244, 0, 0);
height: 550px;
background-attachment: fixed;
background-size: cover;
}

.portadacelular{
    background-color: black;
    display: none;
}
.celularbox{
    background-color:black;
    display: flex;
    justify-content: center;
    display: none;
    
}


h2{
    color: rgb(199, 127, 127);
}

.navegacion{
    position: sticky;
    top: 0px;
    background-color: rgb(244, 0, 0);
}
#navbar{
    visibility: hidden;
}
.caja-carrito{
    display: flex;
    justify-content: center;
    background-color: dimgrey;
}

:hover.carrito{
    cursor: pointer;
}

.carrito{
   height:40px;
    
}
.visually-hidden{
    color: red;
}

.mainmenu{
    list-style-type: none;  
    background-color: rgb(244, 0, 0);
    padding: 10px;
   }
    .menu:hover{
        color: rgb(95, 90, 95);
     }

.menu{
    display: inline;
    padding: 28px;
    color: black;
   }
                                        /*    TARJETOVICH        */

  .PadreTarjetovich{
   display: flex;
    gap: 50px;
    padding-bottom: 20px;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    padding-top: 30px;
    
}
.PadreTarjetovich2{
    display: flex;
     gap: 50px;
     padding-bottom: 20px;
     background-color: rgb(0, 0, 0);
     justify-content: center;
     padding-top: 30px;
     display: none;
     
 }


.AAC{
    border-radius: 30px;



}
   .tarjetovich{
    height: 600px;
    width: 400px;
    border: 2px solid black; 
    box-shadow: 1px 2px 20px red;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.705);
    border-radius: 30px;



}.precio{
        color: green;
    }
.lista{
    padding-right: 15px;
}


 

.imgtarjetovich{
    width: 100%;
    border-radius: 30px;
    height: 300px;
    
}
.elementos-lista{
    display: flex;
    flex-direction: column;
    
}
button{ 
    color: rgb(0, 0, 0);
    background-color: red;
    height: 30px;
    width: max-content;
    align-self: center;
    }

 ul{
    padding-left: 10px;
    padding-top: 10px;
}
.nomostrar{
    visibility:hidden
}
.quienes-somos{
    background-color: gainsboro;
    color: red;
    display: flex;
    justify-content: center;
}
.nosotros{
    display: flex;
    justify-content: space-between;
    background-color: black;

}
.nos-conocen{
    background-color: black;
    color: red;
    padding: 0px;
    margin: 0px;
    padding-left: 20px;
}

.descripcion{
    width: 50%;
    border: 2px solid black;
    padding: 15px;
    background-color: gainsboro;
    height: 450px;
    
}





.nuestrosclientes{
   display: flex;
   width: 100%;
}
.hamilton{
     display: flex;
    background-color: black;
    width: 50%;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    }
    .citahamilton{
        width: 280px;
        padding: 25px;
        color: white;
    }
     
.imagenhamilton{
    border-radius: 200px;
    width: 200px;
    margin-left: 30px;

    
}
 .pibe{ 
    display: flex;
    background-color: black;
   gap: 30px;
    width: 50% ;
    padding-top: 20px;
    padding-bottom: 20px;
}
.imagen-pibe{
    border-radius: 200px;
    width: 200px;
  
}
.cita-pibe{
    color:white;
    width: 280px;
    padding: 25px;
    
}

                                     /*  PIE DE PAGINA */

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(205, 0, 0);
    height: 100px;
    gap: 30px;
    
    }

 .copyright{
   color: gainsboro;
   background-color: black;
   

}

.logofoot{
   display: none;
}
 .practica{
    background-color: blue;
 }
 .card{
    width:600;

 }
 .gold{
    background-color: gold;
    padding: 0px;
    margin: 0px;
    height: 50px;
padding-left: 20px;
padding-top: 10px;
 }

 .carousel{
    background-color: rgb(67, 72, 72);
 }
.Formulario{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color:rgb(110, 11, 20);
    gap: 30px;
    padding: 40px;
    color: darkgray;
    

 
    
}
.Catar{
    background-color:grey;
    margin: 0px;
    color: whitesmoke;
    padding: 20px;
}
.itemf{
    height: 50px;
    border-radius: 10px;
}
.itemc{
    height: 100px;
    border-radius: 10px;
}





                                  /* RESPONSIVE DESING */
                                  
@media(max-width:1050px)   {
    .nosotros{
        flex-direction: column;
        width: 100%;
    }
    .descripcion{
        width: 100%;
    }
    .iframe{
        width: 100%;
    }
    .imagenhamilton{
        width: 150px;
        height: 250px;
        padding-top: 10px;
        align-self: center;
        
    }
    .imagen-pibe{
        width: 150px;
        height: 250px;
        margin-left: 20px;
    }
    
   
    .imagen-pibe{
        padding-left: 10px;
        padding-top: 10px;
        align-self: center;
    }
    .h1{
        height: 450px;
        background-position: center;
    }  
    
    .PadreTarjetovich2{
        display: block;
        display: flex;
    }  
    .PadreTarjetovich{
        display: none;
    }
       
}
@media(max-width:800px){
    .nuestrosclientes{
        flex-direction: column;
    }
    .hamilton{
        width: 100%;
    }
    .pibe{
        width: 100%;
    }
}


@media(max-width:500px){
    .PadreTarjetovich2{
        flex-direction: column;
        align-items: center;
        
    }
  .h1{
    display: none;
  }
  /* aca pasa algo raro, mas arriba aplique un justify content y en la pantalla grande se encuentra centrado pero al aplicar el display block deja de estar centrado*/
  .portadacelular{
    display: block;
  
}
.celularbox{
    background-color:black;
    display: block;
    
}
.imgcelular{
    padding-left: 40px;
}


.descripcion{font-size: small;}
.cita-pibe{
    font-size: small;
}
.citahamilton{
    font-size: small;
}


    .tarjetovich{
    height: 600px;
    width: 370px;
    }
    
   
}

                                