*{
    padding: 0px;
    margin: 0px;
   
}
.h1{ background-image: url("imagenes/Audi-LED.jpeg");
color: rgb(244, 0, 0);
height: 550px;
background-attachment: fixed;
background-size: cover;
}

h2{
    color: rgb(199, 127, 127);
}

.navegacion{
    position: sticky;
    top: 0px;
    background-color: rgb(244, 0, 0);
}
.carrito{
    display: flex;
    justify-content: end;
}

.mainmenu{
    list-style-type: none;  
    background-color: rgb(244, 0, 0);
    padding: 10px;
   }
    .menu:hover{
        color: rgb(95, 90, 95);
     }

.menu{
    display: inline;
    padding: 28px;
    color: black;
   }
                                        /*    TARJETOVICH        */

  .PadreTarjetovich{
   display: flex;
    gap: 50px;
    padding-bottom: 20px;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    padding-top: 30px;
    
}
.AAC{
    border-radius: 30px;
}
   .tarjetovich{
    height: 600px;
    width: 400px;
    border: 2px solid black; 
    box-shadow: 1px 2px 20px red;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.705);
    border-radius: 30px;
    
    

   

    
}
.lista{
    padding-right: 15px;
}


 

.imgtarjetovich{
    width: 100%;
    border-radius: 30px;
}
.elementos-lista{
    display: flex;
    flex-direction: column;
    
}
button{ 
    color: rgb(0, 0, 0);
    background-color: red;
    height: 30px;
    width: max-content;
    align-self: center;
    }

 ul{
    padding-left: 10px;
    padding-top: 10px;
}
.nomostrar{
    visibility:hidden
}
.quienes-somos{
    background-color: gainsboro;
    color: red;
    display: flex;
    justify-content: center;
}
.nosotros{
    display: flex;
    justify-content: space-between;
    background-color: black;

}
.nos-conocen{
    background-color: black;
    color: red;
    padding: 0px;
    margin: 0px;
}
.descripcion{
    width: 50%;
    border: 2px solid black;
    padding: 15px;
    background-color: gainsboro;
    height: 450px;
    
}

.nuestrosclientes{
   display: flex;
}
.hamilton{
     display: flex;
    background-color: black;
    width: 50%;
    gap: 30px;
    }
    .citahamilton{
        width: 280px;
        padding: 25px;
        color: white;
    }
     
.imagenhamilton{
    border-radius: 200px;
    width: 200px;
    margin-left: 30px;

    
}
 .pibe{ 
    display: flex;
    background-color: black;
gap: 30px;
width: 50%;
}
.imagen-pibe{
    border-radius: 200px;
    width: 200px;
}
.cita-pibe{
    color:white;
    width: 280px;
    padding: 25px;
    
}

                                     /*  PIE DE PAGINA */

.footer{
    display: flex;
   
    align-items: center;
    justify-content: space-between;
    background-color: rgb(205, 0, 0);
    height: 100px
    }

 .copyright{
    align-self: flex-end;
    margin-right: 5px;

}
.redes

 .practica{
    background-color: blue;
 }
 .card{
    width:600;

 }
 .gold{
    background-color: gold;
    padding: 0px;
    margin: 0px;
    height: 50px;
padding-left: 20px;
padding-top: 10px;
 }

 .carousel{
    background-color: rgb(67, 72, 72);
 }
.Formulario{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color:rgb(163, 56, 56);
    gap: 30px;
    padding: 40px;
    

 
    
}
.Catar{
    background-color: gold;
}
.itemf{
    height: 50px;
    border-radius: 10px;
}
.itemc{
    height: 100px;
    border-radius: 10px;
}





                                  /* RESPONSIVE DESING */
                                  
@media(max-width:1050px)   {
    .nosotros{
        flex-direction: column;
        width: 100%;
    }
    .descripcion{
        width: 100%;
    }
    .iframe{
        width: 100%;
    }
    .imagenhamilton{
        width: 150px;
        height: 250px;
        padding-top: 10px;
        align-self: center;
        
    }
    .imagen-pibe{
        width: 150px;
        height: 250px;
    }
    .citahamilton{
       padding-left: 0;
    }
    .cita-pibe{
        padding-left: 0px;
    }
    .imagen-pibe{
        padding-left: 10px;
        padding-top: 10px;
        align-self: center;
    }
    .h1{
        height: 450px;
        background-position: center;
    }  
    .tarjetovich{
        height: 520px;
    }   
}


@media(max-width:500px){
    .PadreTarjetovich{
        flex-direction: column;
        align-items: center;
        
    }
    .tarjetovich{
height: 600px;
width: 370px;
    }
    
    
        

    
    .nuestrosclientes{
        flex-direction: column;
    }
    .hamilton{
        width: 100%;
    }
    .pibe{
        width: 100%;
    }
    .imagen-pibe{
        margin-left: 30px;
    }
    .footer{
        height: 150px;
    }
    .copyright{
        padding-left: 10px;
    }
}

                                